div.name a, div a { 
	text-decoration: none;
	color: #5CA4A9;
}
div.name a:visited { 
	color: white;
}
#container img { 
	cursor: pointer;
	position: relative;
	top: 10px;
	left: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
}
div.name	{ 
	cursor: pointer;
	color: #5CA4A9;
	font-size: 20px;
	font-weight: bolder;
	position: relative;
	top: 10px;
	left: 10px;
	margin: 10px;
	margin-left: 30px;
}
div.name:hover {
	color: #407579;
}